/* Work Sans font family form google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

/* additional css for back-end */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* header section styling */
header{
    width: 100%;
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 150px;
}
.nav-title{
    font-size: 2.7rem;
    font-weight: 700;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > ul{
    display: flex;
    list-style: none;

}
nav li a{
    font-size: 1.1rem;
    margin-right: 30px;
    color: #424242;
    font-weight: 500;
}